{% extends 'public_layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <h4 class="text-gray mt-0 pt-5">Accédez à votre compte</h4>
                    <hr>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                        </div>
                    {% endif %}
                    <form name="login-form" class="clearfix" method="post">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail">Email</label>
                                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Adresse email" required autofocus value="{{ last_username }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="password">Mot de passe</label>
                                <input id="password" name="password" class="form-control" type="password" required>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="checkbox pull-left mt-15">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" checked>
                                Se souvenir de moi </label>
                        </div>
                        <div class="clear text-center pt-10">
                            <a class="text-theme-colored font-weight-600 font-12" href="#">J'ai oublié mon mot de passe</a>
                        </div>
                        <div class="clear text-center pt-10">
                            <button type="submit" class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
