{% extends 'public_layout.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <h4 class="text-gray mt-0 pt-5">Réinitialisation de mon mot de passe</h4>
                    <hr>
                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                        </div>
                    {% endif %}
                    {{ form_start(form, {'attr': {'class': 'clearfix'}}) }}
                    <fieldset>
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                    </fieldset>
                    <fieldset>
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                    </fieldset>
                    <div class="clear text-center pt-10">
                        <button type="submit" class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15">Valider mon nouveau mot de passe</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
