{% extends "account_layout.html.twig" %}

{% block heading %}
    <div class="page-title-icon">
        <i class="pe-7s-clock icon-gradient bg-mean-fruit">
        </i>
    </div>
    <div>
        Confirmation du rendez-vous
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        {{ booking.bookingDate|date('d/m/Y') }} à {{ booking.bookingStart|date('H:i') }} avec {{ booking.therapist.firstName }} {{ booking.therapist.lastName }}
        <div class="alert alert-warning">
            En cas d'annulation, merci de prévenir votre thérapeute au moins 24h à l'avance en cliquant sur le bouton d'annulation disponible dans vos rendez-vous.
        </div>
        <form action="{{ path('patient_confirm_booking', {'id': booking.id}) }}" method="post">
            <input type="hidden" name="booking_id" value="{{ booking.id }}">
            <button class="btn btn-primary" type="submit">Confirmer mon rendez-vous</button>
        </form>
    </div>
{% endblock %}