{% extends "account_layout.html.twig" %}

{% block heading %}
    <div class="page-title-icon">
        <i class="pe-7s-notebook icon-gradient bg-mean-fruit">
        </i>
    </div>
    <div>
        Tableau de bord
    </div>
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Date action</th>
                <th>Date</th>
                <th>Début</th>
                <th>Thérapeute</th>
                <th>Statut</th>
                <th>Dispo</th>
            </tr>
            </thead>
            {% if history|length %}
                <tbody>
                {% for a in history %}
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ constant('App\\Entity\\History::ACTIONS')[a.action] }}</td>
                        <td>{{ a.actionedAt|date('d/m/Y H:i') }}</td>
                        <td>
                            {% if a.bookingHistory is not null %}
                                {{ a.bookingHistory.bookingDate|date('d/m/Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if a.bookingHistory is not null %}
                                {{ a.bookingHistory.bookingStart|date('H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ a.usersHistory.therapistFirstName }} {{ a.usersHistory.therapistLastName }}</td>
                        <td>
                            {% if a.bookingHistory is not null %}
                                {{ constant('App\\Entity\\Appointment::STATUS')[a.bookingHistory.status] }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('patient_research_by_therapist', {'id': a.usersHistory.therapistId}) }}" class="btn btn-primary">Disponibilités</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <p>Votre historique est vide pour l'instant !</p>
            {% endif %}
        </table>
    </div>
{% endblock %}