{% extends "account_layout.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Membres actif</h1>
    </div>
    {#<div class="container-fluid mt-5 mb-5">
        <div class="row">
            <form class="form-inline" action="{{ path('manager_manage_users') }}" method="get" id="table_filter_form">
                <fieldset class="form-group">
                    <label for="email_filter">Filter par email</label>
                    <input type="email" name="email_filter" id="email_filter" class="form-control" placeholder="email" value="{% if filters.email_filter is defined %}{{ filters.email_filter ?: filters.email_filter }}{% endif %}">
                </fieldset>
                <fieldset class="form-group ml-1">
                    <label for="lastname_filter">Filter par nom</label>
                    <input type="text" placeholder="Nom" name="lastname_filter" id="lastname_filter" class="form-control" value="{% if filters.lastname_filter is defined %}{{ filters.lastname_filter ?: filters.lastname_filter }}{% endif %}">
                </fieldset>
                <fieldset class="form-group ml-1">
                    <label for="firstname_filter">Filter par prénom</label>
                    <input type="text" placeholder="Prénom" name="firstname_filter" id="firstname_filter" class="form-control" value="{% if filters.firstname_filter is defined %}{{ filters.firstname_filter ?? filters.firstname_filter }}{% endif %}">
                </fieldset>
                <a href="{{ path('manager_manage_users') }}" class="btn btn-primary ml-2">Réinitaliser les filtres</a>
            </form>
        </div>
    </div>#}
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Date inscription</th>
                    <th>Role</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Validé</th>
                    <th>Changer le role</th>
                    <th>Supprimer le compte</th>
                </tr>
                </thead>
                {% if users|length %}
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.createdAt|date('d/m/Y') }}</td>
                            <td>
                                {{ constant('App\\Entity\\User::USER_ROLE')[u.roles|last] }}
                            </td>
                            <td>{{ u.lastName|upper }}</td>
                            <td>{{ u.firstName|capitalize }}</td>
                            <td>{{ u.isActive }}</td>
                            <td>
                                <form action="{{ path('manager_manage_users') }}" method="post">
                                    <select name="user_role" id="user_role">
                                        {% if u.roles|last == 'ROLE_THERAPIST' %}
                                            <option value="ROLE_THERAPIST">Thérapeute</option>
                                            <option value="ROLE_MANAGER">Manager</option>
                                        {% else %}
                                            <option value="ROLE_PATIENT">Patient</option>
                                            <option value="ROLE_THERAPIST">Thérapeute</option>
                                            <option value="ROLE_MANAGER">Manager</option>
                                        {% endif %}
                                    </select>
                                    <input type="hidden" name="user_id" value="{{ u.id }}">
                                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                                </form>
                            </td>
                            <td>
                                <a href="{{ path('manager_delete_account_by_id', {'id': u.id}) }}" class="btn btn-danger"><i class="fa fa-times"></i></a> (action directe et irréversible)
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <p>Aucun utilisateur trouvé pour ce-s filtre-s.</p>
                {% endif %}
            </table>
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('manage_members') }}
{% endblock %}