<ul class="vertical-nav-menu">
    <li class="app-sidebar__heading">
        Praticien.ne - Manager
    </li>
    <li>
        <a href="{{ path('therapist_dashboard') }}" class="mm-active">
            <i class="metismenu-icon pe-7s-home"></i>
            Tableau de bord
        </a>
    </li>
    <li class="app-sidebar__heading">UI Components</li>
    <li>
        <a href="{{ path('therapist_bookings') }}">
            <i class="metismenu-icon pe-7s-clock"></i>
            Réservations
        </a>
    </li>
    <li>
        <a href="{{ path('therapist_availabilities') }}">
            <i class="metismenu-icon pe-7s-clock"></i>
            Disponibilités
        </a>
    </li>
    <li>
        <a href="{{ path('therapist_history') }}">
            <i class="metismenu-icon pe-7s-notebook"></i>
            Historique
        </a>
    </li>
    <li class="app-sidebar__heading">Widgets</li>
    <li>
        <a href="{{ path('therapist_settings') }}">
            <i class="metismenu-icon pe-7s-settings"></i>
            Paramètres
        </a>
    </li>
    <li>
        <a href="{{ path('therapist_security') }}">
            <i class="metismenu-icon pe-7s-shield"></i>
            Sécurité
        </a>
    </li>
    <li class="app-sidebar__heading">Gestion</li>
    <li>
        <a href="{{ path('manager_dashboard') }}">
            <i class="metismenu-icon pe-7s-graph">
            </i>
            Statistiques
        </a>
    </li>
    <li>
        <a href="{{ path('manager_new_users') }}">
            <i class="metismenu-icon pe-7s-add-user">
            </i>
            Nouveaux utilisateurs
        </a>
    </li>
    <li>
        <a href="{{ path('manager_users_waiting') }}">
            <i class="metismenu-icon pe-7s-users">
            </i>
            En attente de validation
        </a>
    </li>
    <li>
        <a href="{{ path('manager_manage_users') }}">
            <i class="metismenu-icon pe-7s-users">
            </i>
            Gestion des membres
        </a>
    </li>
    <li>
        <a href="{{ path('manager_contact_by_roles') }}">
            <i class="metismenu-icon pe-7s-mail">
            </i>
            Contacter les membres
        </a>
    </li>
    <li>
        <a href="{{ path('manager_zones') }}">
            <i class="metismenu-icon pe-7s-map">
            </i>
            Zones géographiques
        </a>
    </li>
    <li>
        <a href="{{ path('manager_appoints_to_delete') }}">
            <i class="metismenu-icon pe-7s-close">
            </i>
            Réservations à supprimer
        </a>
    </li>
    <li class="app-sidebar__heading">Autres</li>
    <li>
        <a href="{{ path('index') }}" target="_blank">
            <i class="metismenu-icon pe-7s-back">
            </i>
            Retour au site
        </a>
    </li>
    <li>
        <a href="{{ path('app_logout') }}">
            Déconnexion
        </a>
    </li>
</ul>