<ul class="vertical-nav-menu">
    <li class="app-sidebar__heading">
        Praticien.ne
    </li>
    <li>
        <a href="{{ path('therapist_dashboard') }}" class="mm-active">
            <i class="metismenu-icon pe-7s-rocket"></i>
            Tableau de bord
        </a>
    </li>
    <li class="app-sidebar__heading">UI Components</li>
    <li>
        <a href="{{ path('therapist_bookings') }}">
            <i class="metismenu-icon pe-7s-diamond"></i>
            Réservations
        </a>
    </li>
    <li>
        <a href="{{ path('therapist_availabilities') }}">
            <i class="metismenu-icon pe-7s-car"></i>
            Disponibilités
        </a>
    </li>
    <li>
        <a href="{{ path('therapist_history') }}">
            <i class="metismenu-icon pe-7s-display2"></i>
            Historique
        </a>
    </li>
    <li class="app-sidebar__heading">Widgets</li>
    <li>
        <a href="{{ path('therapist_settings') }}">
            <i class="metismenu-icon pe-7s-display2"></i>
            Paramètres
        </a>
    </li>
    <li>
        <a href="{{ path('therapist_security') }}">
            <i class="metismenu-icon pe-7s-display2"></i>
            Sécurité
        </a>
    </li>
    <li class="app-sidebar__heading">Autres</li>
    <li>
        <a href="{{ path('index') }}" target="_blank">
            <i class="metismenu-icon pe-7s-graph2">
            </i>
            Retour au site
        </a>
    </li>
    <li>
        <a href="{{ path('app_logout') }}">
            <i class="metismenu-icon pe-7s-graph2">
            </i>
            Déconnexion
        </a>
    </li>
</ul>