<header id="header" class="header bg-theme-colored-lighter2">
    <div class="header-top p-0 xs-text-center">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget no-border m-0">
                        <a class="menuzord-brand text-white pull-left flip xs-pull-center mb-15" href="{{ path('index') }}">
                            ENLIENAVECVOUS.ORG
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget no-border clearfix m-0 mt-5">
                        <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                            {% if is_granted('ROLE_USER') %}
                                {% if is_granted('ROLE_THERAPIST') %}
                                    <li>
                                        <a class="text-white" href="{{ path('therapist_dashboard') }}">Mon compte</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="text-white" href="{{ path('patient_dashboard') }}">Mon compte</a>
                                    </li>
                                {% endif %}
                                <li class="text-white">|</li>
                                <li>
                                    <a class="text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="text-white" href="{{ path('app_login') }}">Connexion</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="widget no-border clearfix m-0 mt-5">
                        <ul class="styled-icons icon-gray icon-theme-colored icon-circled icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
                            <li><a href="https://www.facebook.com/Enlienavecvous" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://github.com/Seymos76/onestlapourvous.org" target="_blank"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>