<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {% if is_granted('ROLE_THERAPIST') %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('therapist_dashboard') }}">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('therapist_bookings') }}">
                        <span data-feather="check-circle"></span>
                        Réservations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('therapist_availabilities') }}">
                        <span data-feather="check-circle"></span>
                        Disponibilités
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('therapist_history') }}">
                        <span data-feather="clock"></span>
                        Historique
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('therapist_settings') }}">
                        <span data-feather="settings"></span>
                        Paramètres
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('therapist_security') }}">
                        <span data-feather="lock"></span>
                        Sécurité
                    </a>
                </li>
            {% elseif is_granted('ROLE_PATIENT') %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('patient_dashboard') }}">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('patient_research') }}">
                        <span data-feather="check-circle"></span>
                        Recherche
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('patient_appointments') }}">
                        <span data-feather="check-circle"></span>
                        Mes rendez-vous
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('patient_history') }}">
                        <span data-feather="check-circle"></span>
                        Historique
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('patient_settings') }}">
                        <span data-feather="check-circle"></span>
                        Paramètres
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('patient_security') }}">
                        <span data-feather="check-circle"></span>
                        Sécurité
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}" target="_blank">
                    <span data-feather="check-circle"></span>
                    Retour à l'accueil
                </a>
            </li>
        </ul>

        {% if is_granted('ROLE_MANAGER') %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Gestion plateforme</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manager_new_users') }}">
                        <span data-feather="user-plus"></span>
                        Nouveaux utilisateurs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manager_users_waiting') }}">
                        <span data-feather="user-plus"></span>
                        En attente de validation
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manager_manage_users') }}">
                        <span data-feather="file-text"></span>
                        Gestion des membres
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manager_zones') }}">
                        <span data-feather="file-text"></span>
                        Zones géographiques
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manager_appoints_to_delete') }}">
                        <span data-feather="file-text"></span>
                        Réservations à supprimer
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>