{% extends "public_layout.html.twig" %}

{% set form = patient_register_form %}

{% block body %}
    <div class="container text-center">
        <h1>Demander de l'aide</h1>
        <p>La crise actuelle vous confronte à des situations déstabilisantes.</p>
        <p>
            Durant cette période inédite de crise, nous sommes confronté.e.s à un changement de style de vie qui peut être source de difficultés au
            quotidien. La perte de notre routine peut nous impacter de diverses manières, que l’on doive travailler ou que l’on soit confiné : irritabilité,
            angoisse, peur du virus, pertes financières, isolement, manque d’intimité, ennui, manque de contact physique, tensions familiales, violences,
            difficultés à s’occuper des enfants, perte d’un proche, etc. Le soutien dont vous avez besoin est à quelques clics.
        </p>
        <p>La Gestalt thérapie, en tant que thérapie humaniste et relationnelle, est tout particulièrement adaptée à ces situations.</p>
        <p>
            Un.e thérapeute est une personne avec des compétences professionnelles qui offre un cadre sécurisant pour vous accompagner dans ce que
            vous vivez en ce moment. Être en lien avec un.e thérapeute peut vous aider à vous sen1r moins seul.e, être accueilli.e et entendu.e dans vos
            émo1ons, prendre de la distance et retrouver du discernement.
        </p>
        <p>
            Parler, échanger, être accompagné.e, même sans difficultés aiguës, vous permet de mieux prendre soin de vous et des autres.
        </p>
        <p>
            Le soutien dont vous avez besoin est à quelques clics.
        </p>
        <p>
            Remplissez le formulaire ci-dessous afin de vous enregistrer et accéder à notre calendrier de prise de rendez-vous.
        </p>
        <p>
            <i>
                Attention ce service est réservé aux personnes majeures (18 ans et +). Si vous êtes mineur, <a href="{{ path('emergency_numbers') }}">appelez la ligne dédiée aux mineur.e.s.</a>
            </i>
        </p>
        <p>
            <i>
                Tou.te.s les thérapeutes inscrit.e.s sur la plateforme sont des professionnel.le.s certifié.e.s respectant un code de déontologie.
                Cela les engage notamment au respect de la confidentialité, à la bienveillance et au non-jugement.
            </i>
        </p>
        <p>
            <a href="{{ path('how_it_works') }}">En savoir plus le fonctionnement de la plateforme</a> {# renvoie à la page comment ça marche #}
        </p>
        <h2>Formulaire d'inscription</h2>
        {{ form_start(form) }}
        <fieldset>
            {{ form_widget(form.firstName, {'attr': {'placeholder': "Votre prénom"}}) }}
            {{ form_widget(form.lastName, {'attr': {'placeholder': "Votre nom"}}) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.country) }}
            {{ form_widget(form.scalarDepartment) }}
            {{ form_widget(form.scalarTown) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.phoneNumber, {'attr': {'placeholder': "Votre numéro de téléphone"}}) }}
            {{ form_widget(form.email, {'attr': {'placeholder': "Votre email"}}) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'placeholder': "Votre mot de passe"}}) }}
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'placeholder': "Confirmez votre mot de passe"}}) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.isMajor) }} Je certifie être majeur.e
        </fieldset>
        <fieldset>
            {{ form_widget(form.hasAcceptedTermsAndPolicies) }} J'ai lu et j'accepte la <a>Politique de Confidentialité</a> et les <a>Conditions d'utilisation</a> de Onestlapourvous.org
        </fieldset>

        <button type="submit">Valider</button>
        {{ form_end(form) }}
        <p>
            (Un email vous sera envoyé afin de confirmer votre compte et vous permettra de vous connecter)
        </p>
        <p>
            (Vous ne pourrez pas vous connecter avant d'avoir confirmé votre compte par email)
        </p>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">En cas d'urgence, si votre vie ou celle d'autrui est en danger, <a href="{{ path('emergency_numbers') }}">contactez les numéros d'urgence de votre pays.</a></h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('patient_geoloc') }}
{% endblock %}