{% extends "public_layout.html.twig" %}

{% set form = therapist_register_form %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay" data-bg-img="{{ asset('images/enlien_courbe.jpg') }}">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1 class="text-uppercase text-white font-30">JE SUIS PRATICIEN.NE EN GESTALT-THÉRAPIE
                            ET JE PROPOSE MON AIDE</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Features -->
    <section class="bg-lighter">
        <div class="container">
            <div class="section-content">
                <div class="row mtli-row-clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-6 pb-sm-20">
                        <div class="icon-box text-center p-10">
                            <a href="#" class="icon icon-gray icon-bordered icon-rounded icon-border-effect effect-rounded mb-10">
                                <i class="fa fa-user-plus font-30 text-theme-colored"></i>
                            </a>
                            <h4 class="icon-box-title"><a href="#">La crise actuelle</a></h4>
                            <p class="text-gray text-left">
                                Les périodes de crise sont une perte de repères et peuvent être des
                                amplificateurs de ce qui est existant.
                            </p>
                            <p class="text-left">
                                Vous avez conscience de la souffrance que rencontrent de
                                nombreuses personnes en cette période de crise et souhaitez
                                prendre part à l’élan incroyable de solidarité actuel en mettant vos
                                compétences au service des personnes ressentant le besoin d'un
                                soutien psychologique exceptionnel en cette période de covid-19.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 pb-sm-20">
                        <div class="icon-box text-center p-10">
                            <a href="#" class="icon icon-gray icon-bordered icon-rounded icon-border-effect effect-rounded mb-10">
                                <i class="fa fa-life-ring font-30 text-theme-colored"></i>
                            </a>
                            <h4 class="icon-box-title"><a href="#">Conditions d’inscription de la plateforme :</a></h4>
                            <p class="text-gray text-left">Pour être présent.e sur la plateforme, vous vous engagez à :</p>
                            <ul class="text-left list-dashed">
                                <li>
                                    Avoir suivi une formation théorique et pratique validée par une école ou un institut, vous octroyant le droit de praCquer
                                    la Gestalt-thérapie
                                </li>
                                <li>
                                    Être déjà en activité
                                </li>
                                <li>
                                    Respecter le code déontologique de gestalt-thérapie de votre choix, validé par une entité officielle (école, institut,
                                    organisation professionnelle ...).
                                </li>
                                <li>
                                    Être supervisé.e dans votre pratique professionnelle, (de l'ordre d'une fois par mois)
                                </li>
                                <li>
                                    Offrir ici une prestation qui s’inscrit dans la continuité de sa pratique professionnelle
                                </li>
                                <li>
                                    Ne recevoir aucune rétribution pour les séances proposées via la plateforme. L’aide apportée est enCèrement bénévole.
                                </li>
                                <li>être disponible aux horaires indiqués sur la plateforme</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About Us -->
    <section id="about">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Donner votre soutien</h2>
                        <p>
                            Une fois complété le formulaire ci-dessous, vous recevrez un mail de confirmation avec les informations nécessaires au bon
                            déroulement de votre participation.
                        </p>
                        <p>
                            En cliquant sur le lien, vous accéderez à votre calendrier. Vous pourrez y renseigner les horaires auxquels vous souhaitez
                            vous rendre disponible par jour et par créneaux de rendez-vous.
                        </p>
                        <p>
                            Vous êtes libre de choisir le temps mis à disposiCon et
                            celui-ci peut varier d’un jour à l’autre et d’une semaine à l’autre.
                        </p>
                        <p>
                            Vous êtes libre de définir la durée des séances. Une fois la
                            séance passée, vous avez la possibilité de renseigner dans l’historique si elle a bien été honorée.
                        </p>
                        <img src="{{ asset('images/enlien_sil.jpg') }}"/>
                    </div>
                    <div class="col-md-8">
                        {{ form_start(form, {
                            'attr': {
                                'name': "reg-form",
                                'class': 'register-form'
                            }
                        }) }}
                        <div class="icon-box mb-0 p-0">
                            <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                <i class="pe-7s-users"></i>
                            </a>
                            <h4 class="text-gray pt-10 mt-0 mb-30">Remplissez le formulaire</h4>
                        </div>
                        <hr>
                        <p class="text-gray">
                            Vous pouvez nous contacter à <a href="mailto:contact-therapeutes@onestlapourvous.org">contact-therapeutes@onestlapourvous.org</a>
                        </p>
                        <p class="text-gray">
                            Un email vous sera envoyé afin de confirmer votre compte et vous permettra de vous connecter
                        </p>
                        <p class="text-danger">
                            Vous ne pourrez pas vous connecter avant d'avoir confirmé votre compte par email
                        </p>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Prénom</label>
                                {{ form_widget(form.firstName, {'attr': {'placeholder': "Votre prénom", 'class': "form-control"}}) }}
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nom</label>
                                {{ form_widget(form.lastName, {'attr': {'placeholder': "Votre nom", 'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="">Numéro de téléphone</label>
                                {{ form_widget(form.phoneNumber, {'attr': {'placeholder': "Votre numéro de téléphone", 'class': "form-control"}}) }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_choose_username">Email</label>
                                {{ form_widget(form.email, {'attr': {'placeholder': "Votre email", 'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div id="geolocation"></div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="">Votre pays</label>
                                {{ form_widget(form.country, {'attr': {'placeholder': "Votre pays", 'class': "form-control"}}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Votre Région</label>
                                {{ form_widget(form.scalarDepartment, {'attr': {'placeholder': "Votre région", 'class': "form-control"}}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Votre ville</label>
                                {{ form_widget(form.scalarTown, {'attr': {'placeholder': "Votre commune/ville", 'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="">Le code de déontologie auquel j'adhère est celui de :</label>
                                {{ form_widget(form.ethicEntityCodeLabel, {'attr': {'placeholder': "Votre nom", 'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="">L'école au sein de laquelle je me suis formée :</label>
                                {{ form_widget(form.schoolEntityLabel, {'attr': {'placeholder': "Votre nom", 'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="form_choose_password">Mot de passe</label>
                                {{ form_widget(form.password.first, {'attr': {'placeholder': "Votre mot de passe", 'class': "form-control"}}) }}
                            </div>
                            <div class="form-group col-md-6">
                                <label>Confirmez votre mot de passe</label>
                                {{ form_widget(form.password.second, {'attr': {'placeholder': "Confirmez votre mot de passe", 'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_widget(form.hasCertification) }} Je certifie détenir un diplôme autorisant mon activité dans le domaine de la Gestalt
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_widget(form.isSupervised) }} Je certifie être inscrit.e dans un processus régulier de supervision (de l'ordre d'une fois par mois)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_widget(form.isRespectingEthicalFrameWork) }} Je m'engage à respecter le cadre déontologique des gestalt-thérapeutes de cette plateforme
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_widget(form.hasAcceptedTermsAndPolicies) }} J'ai lu et j'accepte la <a href="{{ path('data_privacy_policy') }}">Politique de Confidentialité</a> et les <a href="{{ path('terms_of_use') }}">Conditions d'utilisation</a> de enlienavecvous.org
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-lg btn-block mt-15" type="submit">Valider mon inscription</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div id="ip"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('geolocation') }}
{% endblock %}