{% extends "public_layout.html.twig" %}

{% set form = therapist_register_form %}

{% block body %}
    <div class="container text-center">
        <h1>Je suis thérapeute et je m'inscris</h1>
        <p>
            Je suis gestalt-thérapeutes ou gestalt-praticien.ne.s et je souhaite mettre mes compétences au service des
            personnes ressentant le besoin d'un soutien psychologique en cette période de covid-19.
        </p>
        <p>
            Le/la Gestalt-thérapeute est un.e praticien.ne en psychothérapie relationnelle et humaniste, c’est un.e
            professionnel.le de la relation d’aide et de l’écoute.
        </p>
        <p>
            Pour être présent.e sur la plateforme, il/elle s’engage à :
        </p>
        <ul>
            <li>
                Avoir suivi une formation théorique et pratique validée par une école ou un institut de Gestalt Thérapie, lui
                octroyant le droit de pratiquer la Gestalt et de recevoir des client.e.s
            </li>
            <li>
                Être déjà en activité
            </li>
            <li>
                Respecter le code déontologique de gestalt de son choix, validé par une entité officielle (école, institut,
                organisation professionnelle ...).
            </li>
            <li>
                Être supervisé.e dans sa pratique professionnelle, (de l'ordre d'une fois par mois)
            </li>
            <li>
                Offrir ici une prestation qui s’inscrit dans la continuité de sa pratique professionnelle
            </li>
            <li>
                Ne recevoir aucune rétribution pour les séances proposées via la plateforme
            </li>
        </ul>
        <p>
            L’aide apportée est entièrement bénévole.
        </p>
        <p>
            Une fois complété le formulaire ci-dessous, vous pourrez renseigner, semaine par semaine les horaires
            auxquels vous souhaitez vous rendre disponible. Vous êtes libre de choisir le temps mis à disposition et celui-
            ci peut varier d’un jour à l’autre et d’une semaine à l’autre.
        </p>
        <p>
            Si vous rencontrez des questionnements ou des difficultés, nous vous invitons à vous exprimer sur le groupe
            facebook créé pour cela à destination des thérapeutes de la plateforme, à en parler en supervision ou à
            organiser des groupes de co-vision avec des collègues autour de vous.
        </p>
        <p>
            Vous pouvez nous contacter à <a href="mailto:contact-therapeutes@onestlapourvous.org">contact-therapeutes@onestlapourvous.org</a>
        </p>
        <h2>Formulaire d'inscription</h2>
        {{ form_start(form) }}
        <fieldset>
            {{ form_widget(form.firstName, {'attr': {'placeholder': "Votre prénom"}}) }}
            {{ form_widget(form.lastName, {'attr': {'placeholder': "Votre nom"}}) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.country, {
                'attr': {
                    'data-get-departments-url': path('api_get_departments_by_country')
                }
            }) }}
            <select
                    name="therapist_register_department"
                    id="therapist_register_department"
                    data-get-towns-url="{{ path('api_get_towns_by_department') }}"
            >
                {% for depart in departments %}
                    <option value="{{ depart.id }}">{{ depart.code }} {{ depart.name }}</option>
                {% endfor %}
            </select>
            <select name="therapist_register_town" id="therapist_register_town">
                {% for town in towns %}
                    <option value="{{ town.id }}">{{ town.code }} {{ town.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            {{ form_widget(form.phoneNumber, {'attr': {'placeholder': "Votre numéro de téléphone"}}) }}
            {{ form_widget(form.email, {'attr': {'placeholder': "Votre email"}}) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'placeholder': "Votre mot de passe"}}) }}
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'placeholder': "Confirmez votre mot de passe"}}) }}
        </fieldset>
        <fieldset>
            Le code de déontologie auquel j'adhére est celui de : {{ form_widget(form.ethicEntityCodeLabel) }}
        </fieldset>
        <fieldset>
            L'école au sein de laquelle je me suis formée : {{ form_widget(form.schoolEntityLabel) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.hasCertification) }} Je certifie détenir un diplôme autorisant mon activité dans le domaine de la Gestalt
        </fieldset>
        <fieldset>
            {{ form_widget(form.isSupervised) }} Je certifie être inscrit.e dans un processus régulier de supervision (de l'ordre d'une fois par mois)
        </fieldset>
        <fieldset>
            {{ form_widget(form.isRespectingEthicalFrameWork) }} Je m'engage à respecter le cadre déontologique des gestalt-thérapeutes de cette plateforme
        </fieldset>
        <fieldset>
            {{ form_widget(form.hasAcceptedTermsAndPolicies) }} J'ai lu et j'accepte la <a>Politique de Confidentialité</a> et les <a>Conditions d'utilisation</a> de Onestlapourvous.org
        </fieldset>

        <button type="submit">Valider</button>
        {{ form_end(form) }}
        <p>
            (Un email vous sera envoyé afin de confirmer votre compte et vous permettra de vous connecter)
        </p>
        <p>
            (Vous ne pourrez pas vous connecter avant d'avoir confirmé votre compte par email)
        </p>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">En cas d'urgence, si votre vie ou celle d'autrui est en danger, <a>contactez les numéros d'urgence de votre pays.</a></h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('therapist_register') }}
{% endblock %}