{% extends "account_layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% set form = appointment_form %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Disponibilités</h1>
    </div>
    <div class="container-fluid mt-5">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateAvailability">
            Ajouter un créneau
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modalCreateAvailability" tabindex="-1" role="dialog" aria-labelledby="modalCreateAvailability" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un créneau</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset class="form-group">
                                    {{ form_widget(form.bookingDate, {'attr': {'class': 'form-control'}}) }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <fieldset class="form-group">
                                    {{ form_widget(form.location, {'attr': {'value': app.user.zipCode, 'class': 'booking_location' }}) }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <fieldset class="form-group">
                                    {{ form_widget(form.bookingStart, {'attr': {'class': 'booking_start_picker'}}) }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <fieldset class="form-group">
                                    {{ form_widget(form.bookingEnd, {'attr': {'class': 'booking_end_picker'}}) }}
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <fieldset class="form-group">
                                    <button class="btn btn-primary" type="submit">+</button>
                                </fieldset>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <form class="form-inline" action="{{ path('therapist_availabilites') }}" method="get" id="table_filter_form">
                <fieldset class="form-group">
                    <label for="date_filter">Filter par date</label>
                    <input type="date" name="date_filter" id="date_filter" class="form-control" value="{% if filters.date_filter is defined %}{{ filters.date_filter ?: filters.date_filter }}{% endif %}">
                </fieldset>
                <fieldset class="form-group ml-3">
                    <label for="location_filter">Filter par lieu</label>
                    <input type="text" name="location_filter" id="location_filter" class="form-control" value="{% if filters.location_filter is defined %}{{ filters.location_filter ?? filters.location_filter }}{% endif %}">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm" data-toggle="table" id="availabilitiesTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Lieu</th>
                <th>Réservé</th>
                <th>Annulé</th>
                <th></th>
            </tr>
            </thead>
            {% if availabilities|length > 0 %}
                <tbody>
                {% for a in availabilities %}
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.bookingDate|date('d/m/Y') }}</td>
                        <td>{{ a.bookingStart|date('H:i') }}</td>
                        <td>{{ a.bookingEnd|date('H:i') }}</td>
                        <td>{{ a.location }}</td>
                        <td>
                            {% if a.booked == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>
                            {% if a.cancelled == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('therapist_availability_edit', {'id': a.id}) }}" class="btn btn-outline-primary">
                                <i class="fa fa-edit"></i>
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ a.id }}">
                                <i class="fa fa-times"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ a.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Supprimer un créneau</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes-vous certain-e de vouloir supprimer ce créneau ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non, annuler</button>
                                            <a href="{{ path('therapist_availability_delete', {'id': a.id}) }}" type="button" class="btn btn-outline-danger">Oui, supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                {% if app.request.query.has('date_filter') %}
                    <p>Vous n'avez enregistré aucune disponibilité pour le {{ app.request.query.get('date_filter') }}</p>
                {% else %}
                    <p>Vous n'avez pas encore enregistré vos disponibilité.</p>
                {% endif %}
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('therapist_availabilities') }}
{% endblock %}