{% extends "account_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('therapist_availabilities') }}
{% endblock %}

{% set form = appointment_form %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Disponibilités - {{ total_appointments }}</h1>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-2">
                {% if permission is defined and permission == true %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateAvailability">
                        Ajouter un créneau
                    </button>
                {% endif %}
                {% include "_modales/_add_availability_form.html.twig" %}
            </div>
            <div class="col-md-4">
                <form class="form-inline" action="{{ path('therapist_availabilities') }}" method="get" id="table_filter_form">
                    <fieldset class="form-group">
                        <label for="date_filter">Filter par date</label>
                        <input type="date" name="date_filter" id="date_filter" class="form-control" value="{% if filters.date_filter is defined %}{{ filters.date_filter ?: filters.date_filter }}{% endif %}">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="table-responsive">
            <table class="table table-striped table-sm" data-toggle="table" id="availabilitiesTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
                </thead>
                {% if availabilities|length > 0 %}
                    <tbody>
                    {% for a in availabilities %}
                        <tr>
                            <td>{{ a.id }}</td>
                            <td>{{ a.bookingDate|date('d/m/Y') }}</td>
                            <td>{{ a.bookingStart|date('H:i') }}</td>
                            <td>{{ a.bookingEnd|date('H:i') }}</td>
                            <td>
                                {{ constant('App\\Entity\\Appointment::STATUS')[a.status] }}
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                {% if a.booked == false %}
                                    <a href="{{ path('therapist_availability_edit', {'id': a.id}) }}" class="btn btn-outline-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ a.id }}">
                                        <i class="fa fa-times"></i>
                                    </button>
                                {% endif %}

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ a.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Supprimer un créneau</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous certain-e de vouloir supprimer ce créneau ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non, annuler</button>
                                                <a href="{{ path('therapist_availability_delete', {'id': a.id}) }}" type="button" class="btn btn-outline-danger">Oui, supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    {% if app.request.query.has('date_filter') %}
                        <p>Vous n'avez enregistré aucune disponibilité pour le {{ app.request.query.get('date_filter') }}</p>
                    {% else %}
                        <p>Vous n'avez pas encore enregistré vos disponibilité.</p>
                    {% endif %}
                {% endif %}
            </table>
            {{ knp_pagination_render(availabilities) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('therapist_availabilities') }}
{% endblock %}