{% extends "account_layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% set form = appointment_form %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Disponibilité</h1>
    </div>
    <div class="container-fluid" style="margin-top: 80px;">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <fieldset class="form-group">
                    {{ form_label(form.bookingDate) }}
                    {{ form_widget(form.bookingDate, {'attr': {'class': 'form-control'}}) }}
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-6">
                <fieldset class="form-group">
                    {{ form_label(form.bookingStart) }}
                    {{ form_widget(form.bookingStart, {'attr': {'class': 'booking_start_picker'}}) }}
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-6">
                <fieldset class="form-group">
                    {{ form_label(form.bookingEnd) }}
                    {{ form_widget(form.bookingEnd, {'attr': {'class': 'booking_end_picker'}}) }}
                </fieldset>
            </div>
            <div class="col-md-12 col-sm-6">
                <fieldset class="form-group">
                    <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
                </fieldset>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}