{% extends "account_layout.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Créneaux réservés</h1>
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Demandeur</th>
                    <th>Email</th>
                    <th>Annulation</th>
                    <th>Honoré ?</th>
                </tr>
                </thead>
                {% if bookings|length %}
                    <tbody>
                    {% for a in bookings %}
                        <tr>
                            <td>{{ a.id }}</td>
                            <td>{{ a.bookingDate|date('d/m/Y') }}</td>
                            <td>{{ a.bookingStart|date('H:i') }}</td>
                            <td>{{ a.bookingEnd|date('H:i') }}</td>
                            <td>
                                {% if a.patient.displayName is not null %}
                                    {{ a.patient.displayName }}
                                {% else %}
                                    {{ a.patient.firstName }} {{ a.patient.lastName }}
                                {% endif %}
                            </td>
                            <td>{{ a.patient.email }}</td>
                            <td>
                                {% if a.cancelled == false %}
                                    <a href="{{ path('therapist_booking_cancel', {'id': a.id}) }}" class="btn btn-danger">
                                        Annuler
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('therapist_booking_status', {'id': a.id, 'status': constant('App\\Entity\\Appointment::STATUS_HONORED') }) }}" class="btn btn-success">Honoré</a>
                                <a href="{{ path('therapist_booking_status', {'id': a.id, 'status': constant('App\\Entity\\Appointment::STATUS_DISHONORED') }) }}" class="btn btn-warning">Non honoré</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <p>Vous n'avez pas encore de rendez-vous</p>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}