{% extends "account_layout.html.twig" %}

{% set form = change_password_form %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Sécurité</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Mon mot de passe</h4>
                {{ form_start(form) }}
                <fieldset class="form-group">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first, {'attr': {'placeholder': "Votre nouveau mot de passe"}}) }}
                </fieldset>
                <fieldset class="form-group">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second, {'attr': {'placeholder': "Confirmez votre nouveau mot de passe"}}) }}
                </fieldset>
                <button class="btn btn-primary btn-md btn-block" type="submit">Valider mon nouveau mot de passe</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-12">
                {% if appointments|length > 0 %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" disabled data-toggle="modal" data-target="#exampleModal">
                        La suppression de compte n'est pas disponible car vous avez des réservations en cours.
                    </button>
                {% else %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Supprimer mon compte
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Supprimer mon compte</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Êtes-vous certain-e de vouloir supprimer votre compte ?</p>
                                    <p>Cette action est irréversible.</p>
                                    <form action="{{ path('therapist_account_delete') }}" method="post">
                                        <label for="password">Veuillez entrer votre mot de passe</label>
                                        <input type="password" id="password" name="password" placeholder="Votre mot de passe">
                                        <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}