{% extends "email_layout.html.twig" %}

{% block body %}
    <p>Bonjour,</p>
    <p>Votre rendez-vous est annulé :</p>
    <p>Le {{ appointment.bookingDate|date('d/m/Y') }}</p>
    <p>À {{ appointment.bookingStart|date('H:i') }}</p>
    {% if appointment.patient.displayName is not null %}
        <p>Avec {{ appointment.patient.displayName }}</p>
    {% else %}
        <p>
            Avec {{ appointment.patient.firstName }} {{ appointment.patient.lastName }}
        </p>
    {% endif %}
    <p>Tel: {{ appointment.patient.phoneNumber|phone_prefix(appointment.patient.country, appointment.patient.phoneNumber) }}, email: {{ appointment.patient.email }}</p>

    <p>Cordialement,</p>
    <p>L'équipe de Enlienavecvous.org</p>
{% endblock %}