{% extends "email_layout.html.twig" %}

{% block body %}
    <p>Bonjour,</p>
    <p>Vous avez rendez-vous :</p>
    <p>Le {{ appointment.bookingDate|date('d/m/Y') }}</p>
    <p>À {{ appointment.bookingStart|date('H:i') }}</p>
    {% set patient = appointment.patient %}
    {% if patient.displayName is not null %}
        <p>Avec {{ patient.displayName }}</p>
    {% else %}
        <p>
            Avec {{ patient.firstName }} {{ patient.lastName }}
        </p>
    {% endif %}
    <p>Tel: {{ patient.phoneNumber|phone_prefix(patient.country, patient.phoneNumber) }}, email: {{ patient.email }}</p>

    <p>La personne vous contactera par téléphone au moment du rendez-vous.</p>

    <p>Vous pouvez proposer à la personne que le rendez-vous se déroule sur d’autres interfaces tels skype, zoom, etc.</p>

    <p>Toute prise de rendez-vous, changement de planning, annulation de rendez-vous, doit se faire via la plateforme. En cas
        d’annulation, respectez autant que possible un délai d’au moins 24h.</p>

    <p>Cordialement,</p>
    <p>L'équipe de Enlienavecvous.org</p>
{% endblock %}