{% extends "email_layout.html.twig" %}

{% block body %}
    <p>Bonjour,</p>
    <p>Votre rendez-vous est confirmé :</p>
    <p>Le {{ appointment.bookingDate|date('d/m/Y') }}</p>
    <p>À {{ appointment.bookingStart|date('H:i') }}</p>
    {% set therapist = appointment.therapist %}
    {% if therapist.displayName is not null %}
        <p>Avec {{ therapist.displayName }}</p>
    {% else %}
        <p>
            Avec {{ therapist.firstName }} {{ therapist.lastName }}
        </p>
    {% endif %}
    <p>Tel: {{ therapist.phoneNumber|phone_prefix(therapist.country, therapist.phoneNumber) }}, email: {{ therapist.email }}</p>

    <p>Veuillez contacter le/la thérapeute par téléphone au moment du rendez-vous. En fonction de chacun.e, vous aurez la
        possibilité de basculer sur d’autres interfaces tels skype, zoom, etc.</p>

    <p>En cas d’annulation ou de report, nous vous demandons d’annuler en ligne au moins 24h à l’avance.</p>

    <p>Cordialement,</p>
    <p>L'équipe de Enlienavecvous.org</p>
{% endblock %}